In [15]:
import pandas as pd

# 创建 DataFrame
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
})

In [16]:

df
# 选取第 2 行，第 3 列（索引 1, 2）

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [44]:
if 'Bob' in df.iloc[:,0].values:
    print(df)
else:
    print('no')

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [18]:
print(df.iloc[1, 2])  
# 选取前 2 行

Los Angeles

In [25]:
print(df.iloc[:1])

    Name  Age      City
0  Alice   25  New York

In [27]:
df.loc[1]

Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object

In [34]:
# 选取所有行的 "Name" 列
df.loc[:, "Name"]

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [36]:
# 选取索引为 1，列名为 "City" 的值
print(df.loc[:, "City"])

0       New York
1    Los Angeles
2        Chicago
Name: City, dtype: object