In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data_source/地铁站.xlsx')

,城市,线路,站点数,站点列表,地铁名称,Unnamed: 5
0,纽约(New York City),1 号线,36,"Van Cortlandt Park-242 St, 238 St, 231 St, 225...",纽约市地铁 (New York City Subway),NaN
1,纽约(New York City),2 号线,49,"Wakefield-241 St, Nereid Av, 233 St, 225 St, 2...",纽约市地铁 (New York City Subway),NaN
2,纽约(New York City),3 号线,34,"Harlem-148 St, 145 St, 135 St, 125 St, 116 St,...",纽约市地铁 (New York City Subway),NaN
3,纽约(New York City),4 号线,54,"Woodlawn, Mosholu Pkwy, Bedford Park Blvd-Lehm...",纽约市地铁 (New York City Subway),NaN
4,纽约(New York City),5 号线,36,"Eastchester-Dyre Av, Baychester Av, Gun Hill R...",纽约市地铁 (New York City Subway),NaN
...,...,...,...,...,...,...
70,新泽西/纽约,Hoboken–World Trade Center,5,"Hoboken Terminal, Newport, Exchange Place, Gro...",NaN,PATH (Port Authority Trans-Hudson)
71,新泽西/纽约,Hoboken–33rd Street,6,"Hoboken Terminal, Newport, Christopher Street,...",NaN,PATH (Port Authority Trans-Hudson)
72,新泽西/纽约,Journal Square–33rd Street,7,"Journal Square, Grove Street, Newport, Christo...",NaN,PATH (Port Authority Trans-Hudson)
73,"圣胡安 (San Juan, Puerto Rico)",单线,16,"Sagrado Corazón, Hato Rey, Roosevelt, Domenech...",NaN,Tren Urbano
74,檀香山 (Honolulu),单线 (Phase 1 & 2),19 (已开通及规划),"Kualakaʻi (East Kapolei), Keoneʻae (UH West Oʻ...",NaN,Skyline

In [17]:
dict1 = {'Name': 'nowcoder', 'num':{'first': '99', 'second': '88'}, 'age': '15'}
print(dict1.get('first'))

None

In [8]:
df['起始站'] = df['站点列表'].apply(lambda x: x.split(',')[0])
df['终点站'] = df['站点列表'].apply(lambda x: x.split(',')[-1])

In [11]:
# 去除开头空格
df['终点站']=df['终点站'].apply(lambda x: x.strip())

In [12]:
df.to_excel('../data_source/地铁站.xlsx', index=False)

In [2]:
import uuid

In [5]:
print(type(uuid.uuid4()))

<class 'uuid.UUID'>